* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 236, 236);
}

.container {
    background-color: #131313;
    height: 30px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.nav-lnk {
    text-decoration: none;
    color: #ffffff99;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.nav-lnk:hover {
    color: #ffffff;
}

.news-color {
    color: #ffffff;
}

.leftnav {
    margin-left: 15px;
}

.fa-sort-down {
    font-size: 15px; 
}

.righttnav {
    margin-right: 20px;
    justify-content: flex-end;
}

.sub-nav {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav-lnk {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

.subnav-lnk:hover {
    color: #000;
}

.sub-nav-content {
    margin-left: 11px;
}

.nav-search {
    padding: 14px 16px;
    font-size: 20px;
    color: #aaa;
}

.nav-search-1 {
    align-self: flex-end;
}

.icon-button {
    background-color: #ffffff;
    border: 1px solid #aaa;
    cursor: pointer;
}

.nav-search:hover {
    color: rgb(114, 112, 112);
}